langgraph
langchain
langchain-groq
python-dotenv
torchvision
chromadb
langchain-community
langchain-text-splitters
langchain-huggingface
sentence-transformers
langchain-mistralai
faiss-cpu
streamlit
pypdf
